<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <form class="post-edit-form" action="/add-new-post" method="POST">
            <input class="post-edit-input" name="post" type="text", placeholder="Post a message" />
            <button class="post-edit-button">Post</button>
        </form>
        <h2 class="page-title">All Posts</h2>
        <% if (posts.length > 0) { %>
            <% posts.forEach(item => { %>
                <div class="post-card">
                    <a href="/post/<%= item._id %>" class="see-more">See more</a>
                    <p class="post-date"><%= new Date(item.createdAt).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></p>
                    <p class="post-message"><%= item.post %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>There are no posts to display...</p>
        <% } %>
    </div>
    
</body>
</html>